# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/
env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/

# =========================
# Data artifacts
# =========================
data/raw/
data/interim/
data/models/

# =========================
# Logs
# =========================
*.log
